/* .c { */
/*   width: 85%; */
/*   margin-inline: auto; */
/*   margin-bottom: 1rem; */
/*   padding: 1.3rem; */
/*   font-size: 1rem; */
/*   border-radius: 12px; */
/*   background-color: #2c2c38; */
/*   color: #cbcbd3; */
/*   /1* height: 40vh; *1/ */
/*   transition: transform 200ms ease-in-out; */
/*   text-transform: capitalize; */
/*   /1* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; *1/ */
/* } */
/* .c:hover { */
/*   cursor: pointer; */
/*   /1* transform: scale(1.1); *1/ */
/* } */

.c {
  width: 85%;
  position: relative;
  margin-inline: auto;
  margin-bottom: 0.5rem;
  padding: 1.3rem;
  font-size: 1rem;
  border-radius: 12px;
  background-color: #2c2c38;
  color: #cbcbd3;
  /* height: 40vh; */
  transition: transform 200ms ease-in-out;
  text-transform: capitalize;
  z-index: 1;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.replies_curve {
  width: 15px;
  height: 15px;
  border-left: 2px solid #7471c1; /* Left border */
  border-bottom: 2px solid #7471c1; /* Bottom border */
  border-bottom-left-radius: 25px;
}
.replies_container {
  width: 85%;
  margin-inline: auto;
  display: flex;
  color: #cbcbd3;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.replies_box {
  padding: 0.5rem;
  padding-inline: 0.7rem;
  margin-left: 0.1rem;
}

.replies_box:hover {
  cursor: pointer;
  border-radius: 12px;
  background-color: #2c2c38;
}
.c:hover {
  cursor: pointer;
  /* transform: scale(1.1); */
}
