.list_container {
  list-style: none;
  padding: 0;
  margin-top: 1.3rem;
}
.list_items {
  padding: 1rem 0;
  margin-bottom: 1rem;
  width: 83%;
  margin-inline: auto;
  border-radius: 12px;
  background-color: #21212d;
  position: relative;
  /* z-index: 0; */
  /* -webkit-transition: border-color 0.35s ease, background 0.35s ease; */
  /* transition: border-color 0.35s ease, background 0.35s ease; */
}

/* .list_items:after { */
/*   background-color: #645fc6; */
/*   content: ""; */
/*   display: block; */
/*   position: absolute; */
/*   top: 100%; */
/*   right: 0; */
/*   bottom: 0; */
/*   left: 0; */
/*   z-index: -1; */
/*   -webkit-transition: all 0.35s ease; */
/*   transition: all 0.35s ease; */
/* } */
/* .list_items:hover { */
/*   transition: 0.25s; */
/* } */
/* .list_items:hover { */
/*   cursor: pointer; */
/* } */
/* .list_items:hover:after { */
/*   top: 0; */
/* } */
/* .list_items.active { */
/*   background-color: #645fc6; */
/* } */
