.list_container {
  list-style: none;
  max-height: 60vh;
  padding: 0;
  margin-top: 1.3rem;
  overflow-y: auto;
  z-index: 4;
}
.list_container::-webkit-scrollbar {
  width: 6px;
}

.list_container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: pink;
}

.list_items {
  padding: 1rem 0;
  margin-bottom: 1rem;
  width: 83%;
  margin-inline: auto;
  border-radius: 12px;
  background-color: #21212d;
  z-index: 0;
  /* -webkit-transition: border-color 0.35s ease, background 0.35s ease; */
  transition: transform 0.35s ease, background 0.35s ease;
}

.list_items:nth-child(1) {
  margin-top: 1rem;
}

/* .list_items:after { */
/*   background-color: #645fc6; */
/*   content: ""; */
/*   display: block; */
/*   border-radius: 12px; */
/*   position: absolute; */
/*   top: 100%; */
/*   right: 0; */
/*   bottom: 0; */
/*   left: 0; */
/*   z-index: -1; */
/*   -webkit-transition: all 0.35s ease; */
/*   transition: all 0.35s ease; */
/* } */
.selected {
  background-color: #645fc6;
}
.list_items:hover {
  transition: 0.25s;
  transform: scale(1.1);
  cursor: pointer;
}
.list_items:hover:after {
  top: 0;
}
