.container {
  width: 100%;
  overflow-y: scroll;
  height: 80vh;
}
.header_container {
  width: 85%;
  margin-inline: auto;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}
.header_container i:hover {
  cursor: pointer;
}
.header_container > div {
  display: flex;
  align-items: center;
}
.circle {
  width: 13px;
  margin-right: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.header {
  /* margin-left: 2rem; */
  /* margin-bottom: 1rem; */
  /* font-size: 1.5rem; */
  /* color: #cbcbd3; */
  /* text-transform: uppercase; */
}
.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #7471c1;
}
