.container {
  width: 100%;
  overflow-y: scroll;
  height: 80vh;
  border-right: 3px solid #2c2c38;
}
.header_container {
  width: 85%;
  margin-inline: auto;
  color: #cbcbd3;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.header_container i:hover {
  cursor: pointer;
}
.header {
  /* margin-left: 2rem; */
  /* margin-bottom: 1rem; */
  /* font-size: 1.5rem; */
  /* color: #cbcbd3; */
  /* text-transform: uppercase; */
}
.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #615ebf;
}
