.logo_container {
  display: flex;
  margin-top: 0.43rem;
  margin-right: 0.5rem;
}
.logo_container span {
  width: 6px;
  border-radius: 3px;
  height: 80%;
  margin-inline: 0.2rem;
  background-color: #615ebf;
}
span:nth-child(1) {
  background-color: #6662d9;
}
span:nth-child(3) {
  background-color: #464386;
}
